<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.tiooooo.productdemo"
		>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:allowBackup="true"
				 android:usesCleartextTraffic="true"
				 android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<activity android:name=".Feature.Todo.detail.DetailActivity" android:label="detail" android:theme="@style/AppTheme.NoActionBar" android:parentActivityName=".Feature.Todo.main.MainActivity">
			<meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".Feature.Todo.main.MainActivity" />
		</activity>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>